html, body {
  height: 100%;  
}
.container .container {
  padding: 0;
}
.status-alias-sick_leave {
    background-color: #ffc107 !important;
}
.status-alias-free_day {
    background-color: #dc3545 !important;
}
.status-alias-default {
    background-color: #17a2b8 !important;
}
.status-alias-workday {
    background-color: #28a745 !important;
}
.status-alias-day_off {
    background-color: #fdf !important;
}
.status-alias-null {
    background-color: #fff !important;
}
.weeks-table td {
    height: 120px;
    vertical-align: middle;
}
.btn:not([disabled]) {
    cursor: pointer;
}
.worker-inactive td:not(:nth-child(3)) {
    text-decoration: line-through;
}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}




.loader-wrap {
  background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  padding: 5%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}
body.loading .loader-wrap {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s;
}
.loader {
  left: 0;
  margin: -92px auto 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader + .txt {
  display: block;
  left: 0;
  padding: 13px 15px 0 15px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 150%;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

body {
	background: url(../images/background-logo.png) no-repeat center center;
}

.navbar-brand {
    padding: 0;
}
.logo {
	margin: 0;
	width: 140px;
}

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.weeks-table td {

}
.weeks-table td.selected {
    box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.5);
}
.weeks-table td:not(.blank-day) {
  cursor: pointer;
}