@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w4znyk');
  src:  url('fonts/icomoon.eot?w4znyk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w4znyk') format('truetype'),
    url('fonts/icomoon.woff?w4znyk') format('woff'),
    url('fonts/icomoon.svg?w4znyk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exclamation-circle:before {
  content: "\e911";
}
.icon-cross:before {
  content: "\e90c";
}
.icon-cancel:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90c";
}
.icon-quit:before {
  content: "\e90c";
}
.icon-remove:before {
  content: "\e90c";
}
.icon-checkmark:before {
  content: "\e90d";
}
.icon-tick:before {
  content: "\e90d";
}
.icon-correct:before {
  content: "\e90d";
}
.icon-accept:before {
  content: "\e90d";
}
.icon-ok:before {
  content: "\e90d";
}
.icon-checkbox-unchecked:before {
  content: "\e90e";
}
.icon-checkbox:before {
  content: "\e90e";
}
.icon-unchecked:before {
  content: "\e90e";
}
.icon-square:before {
  content: "\e90e";
}
.icon-checkbox-checked:before {
  content: "\e90f";
}
.icon-checkbox2:before {
  content: "\e90f";
}
.icon-tick2:before {
  content: "\e90f";
}
.icon-checked:before {
  content: "\e90f";
}
.icon-selected:before {
  content: "\e90f";
}
.icon-pencil:before {
  content: "\e910";
}
.icon-write:before {
  content: "\e910";
}
.icon-edit:before {
  content: "\e910";
}
.icon-user2:before {
  content: "\e909";
}
.icon-profile2:before {
  content: "\e909";
}
.icon-avatar2:before {
  content: "\e909";
}
.icon-person2:before {
  content: "\e909";
}
.icon-member2:before {
  content: "\e909";
}
.icon-users:before {
  content: "\e906";
}
.icon-group:before {
  content: "\e906";
}
.icon-team:before {
  content: "\e906";
}
.icon-members:before {
  content: "\e906";
}
.icon-community:before {
  content: "\e906";
}
.icon-collaborate:before {
  content: "\e906";
}
.icon-user-plus:before {
  content: "\e90b";
}
.icon-user-edit:before {
  content: "\e90a";
}
.icon-roles:before {
  content: "\e907";
}
.icon-permission:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-icon-1:before {
  content: "\e900";
}
.icon-icon-2:before {
  content: "\e901";
}
.icon-icon-3:before {
  content: "\e902";
}
.icon-icon-4:before {
  content: "\e903";
}
.icon-icon-5:before {
  content: "\e904";
}
